/*
    Layout: containes all the css that handles the layout,
    such at the container and any grid system
*/

@font-face {
    font-family: 'Open-Sans-bold-italic';
    src: url('OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open-Sans-Light';
    src: url('/fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans-Light-Italic';
    src: url('OpenSansLight-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open-Sans-Bold';
    src: url('OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
} 

@mixin tablet{
    @media (min-width: 600px){
        @content;
    }
}

@mixin desktop{
    @media (min-width: 1240px){
        @content;
    }
}

$font-family: 'Open-Sans-Light';
$base-font-color: #ffffff;
$footer-font-color: #c2c2c2;
$font-size: 16px;

html{
    height: 100vh;
}

body{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header{
    @include tablet{
            display: flex;
            flex-direction: row;
        }

    @include desktop{
        justify-content: flex-start;
    }
    width: 100%;
    height: 50vh;
    background-size: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

    div{
        @include tablet{

        }
        display: flex;
        flex-direction: column;
        justify-content: center;
         p{
            padding: 10px;
            font-size: $font-size;
            font-family: $font-family;
            color: $base-font-color;
            text-align: center;
        }
        select{
            // align-self: center;
            background-color: $base-font-color;
            // width: 150px;
        }

    }

    select{
        align-self: center;
        background-color: $base-font-color;
        width: 150px;
    } 
}

main{
    @include tablet{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    @include desktop{
        grid-template-columns: auto auto auto auto;

    }
    width: 100%;
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    flex-direction: column;
    background-size: cover;
    height: 50vh;
    width: 100%;
    justify-content: flex-end;
    .abstract{
        align-self: flex-end;
        font-size: $font-size;
        font-family: $font-family;
        color: $base-font-color;
        padding: 10px;
        background: linear-gradient(rgba(0, 0, 0, 0.5),
                                   rgba(0, 0, 0, 0.5));
    } 
}
footer{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    p{
        color: $footer-font-color;
        font-size: $font-size;
        font-family: $font-family;
        text-align: center;
    }
}

img{
    // width: 50px;
    // height: 50px;
}

// .main-navigation{
//     font-size: 12px;
//     ul{
//         font-size: 12px;
//         li{
//             //use the and stamp top append the behaviour to the li on hover.
//             &:hover{
//                 font-size:2em;
//             }
//         }
//     }
// }


// Media quierys 
// @mixin desktop{
//     @media (min-width: 1024px){
//         @content;
//     }
// }

//Add it to the item you want ot change instead of creating a new query at the bottomon the page.

// body{
//     background: purple;
//     @include desktop{
//         background: green;
//     }
// }