
html{
    height: 100vh;
}

body{
    @include desktop{
    }
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header{

    @include mobile{
        height: 70vh;
    }

    @include tablet{
            display: flex;
            flex-direction: row;
        }

    @include desktop{
        justify-content: flex-start;
        }

    width: 100%;
    height: 70vh;
    background-size: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px 0px 20px 0px;

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;

        p{
            padding: 10px 0px 15px 0px;
            font-size: $font-size;
            font-family: $font-family;
            color: $base-font-color;
            text-align: center;
        }
    }
}

main{
    @include tablet{
        display: grid;
        grid-template-columns: 33.3vw 33.3vw 33.3vw;
    }

    @include desktop{
        grid-template-columns: 25vw 25vw 25vw 25vw;

    }
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    a{
        color: inherit;
        text-decoration: none;
    }
}

section{
    @include tablet{
        background-size: 100%;
        background-position: center;
        background-size: cover;
        height: 35vh;
    }

    @include desktop{
        height: 50vh;
    }

    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    justify-content: flex-end;
    cursor: $customCursor, pointer;

    .abstract{

        display: none;
        width: 100%;
        align-self: flex-end;
        font-size: $font-size;
        font-family: $font-family;
        color: $base-font-color;
        pointer-events:none;
        background: linear-gradient(rgba(0, 0, 0, 0.5),
                                   rgba(0, 0, 0, 0.5));
        p{
            padding: 10px 5px 10px 5px;
            line-height: 20px;
        }
    }
}
footer{
    @include desktop{
        justify-content: flex-start;
    }
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p{
        padding: 45px 0px 0px 30px;
        color: $footer-font-color;
        font-size: $font-size;
        font-family: $font-family;
        height: 8vh;
        text-align: center;
    }
}