@font-face {
    font-family: 'Open-Sans-Light';
    src: url('/fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@mixin tablet{
    @media (min-width: 768px){
        @content;
    }
}

@mixin desktop{
    @media (min-width: 1240px){
        @content;
    }
}

$font-family: 'Open-Sans-Light';
$base-font-color: #ffffff;
$footer-font-color: #c2c2c2;
$font-size: 16px;

html{
    height: 100vh;
}

body{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo{
    @include tablet{
    }

    @include desktop{

    }
    width: 200px;
    height: 200px;
    align-self: center;
}

.logoShrink{
    animation: logoShrink;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.headerShrink{
    animation: headerShrink;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes headerShrink{
    0%{
        height: 70vh;
    }100%{
        height: 25vh;
    }
}

@keyframes logoShrink{
    0%{
        width: 200px;
        height: 200px;

    }100%{
        width: 120px;
        height: 120px;
    }
}

header{
    @include tablet{
            display: flex;
            flex-direction: row;
        }

    @include desktop{
        justify-content: flex-start;
    }
    width: 100%;
    height: 70vh;
    background-size: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 25px 0px 20px 0px;

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            padding: 10px;
            font-size: $font-size;
            font-family: $font-family;
            color: $base-font-color;
            text-align: center;
        }
        select{
            align-self: center;
            background-color: $base-font-color;
            width: 120px;
            border-radius: 5px;
        }
    }
}

.loader{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.loader > img{
    width:100px;
}

.loader.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

main{
    @include tablet{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    @include desktop{
        grid-template-columns: auto auto auto auto;

    }
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

section{
    @include tablet{
        background-size: 100%;
        background-position: center;
        background-size: cover;
        height: 35vh;
    }

    @include desktop{
        height: 50vh;
    }

    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    justify-content: flex-end;
    .abstract{
        align-self: flex-end;
        font-size: $font-size;
        font-family: $font-family;
        color: $base-font-color;
        padding: 10px 5px 10px 5px;
        // height: ;
        
        background: linear-gradient(rgba(0, 0, 0, 0.5),
                                   rgba(0, 0, 0, 0.5));
       
    }
    
}
footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    p{
        color: $footer-font-color;
        font-size: $font-size;
        font-family: $font-family;
        text-align: center;
    }
}